#title-font {
  font-family: scribble-box, sans-serif;
  /*font-family: lobster; back-up font just in case*/
}

@font-face { font-family: scribble-box; src: url('../fonts/scribble-box.ttf'); }
@font-face { font-family: scribble-box; font-weight: bold; src: url('../fonts/scribble-box.ttf');}

ul {
  display: none;
  text-align: left;

}
body {
  text-align: center;
}

button {
  margin: 25px;
}
