/*=======================================*/
/*Form textbox glow and size*/
textarea:focus,
input[type="text"]:focus {
  border-color: rgb(180, 165, 149);
  box-shadow: 0 1px 1px rgb(165, 141, 114) inset, 0 0 8px rgb(165, 141, 114);
  outline: 0 none;
}
input {
    width: 250px;
    height: 40px;
}
@media (min-width: 500px){
  input {
    width: 75%;
    height: 40px;
    display:flex;
    justify-content:flex-end;
    align-items:center
  }
}

/*=======================================*/
/*H1 and H2 fonts small screen*/
@font-face {
  font-family: 'scribble-box';
  src: url('../fonts/scribble-box.ttf');
}
h1.title-font {
  font-family: 'Cabin Sketch', cursive;
  transform: rotate(-7deg);
  font-size: 5em;
  color: #A58D72;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h2.title-font {
  font-family: 'Cabin Sketch', cursive;
  transform: rotate(-7deg);
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Full width and center form on small screens*/
.center-stuff {
text-align: center;
width: 100%;
}

/*=======================================*/
/*H1 and H2 fonts large screen*/
@media (min-width: 500px){
  h1.title-font {
    font-family: 'scribble-box', sans-serif;
    transform: rotate(-7deg);
    font-size: 8em;
    text-align: center;
    color: #A58D72;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    margin-bottom: 40px;
  }
  h1.title-font::after {
      background-color: #1A87B2;
      content: '';
      height: 3px;
      left: 0;
      margin-top: 46px;
      position: absolute;
      width: 100%;
      z-index: -1;
  }
  h1.title-font::before {
      background-color: #1A87B2;
      content: '';
      height: 3px;
      left: 0;
      margin-top: 46px;
      position: absolute;
      width: 100%;
      z-index: -1;
      transform: rotate(14deg);
  }
  h2.title-font {
    font-family: 'Cabin Sketch', cursive;
    transform: rotate(-7deg);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 6em;
  }
  .white-background {
    background-color: #fff;
    padding: 30px;
  }
  /*Form border, padding, center*/
  div.dotted-border {
     border-right: 2px dashed #A58D72;
     /*padding: 79px 0px 80px 0px;
     width: 67%;*/
     display: inline-block;
     background-color: #fff;
  }
  .center-stuff {
  text-align: left;
  width: 100%;
  }
}
/*=======================================*/
/*Larger class and list items*/
.larger-text {
  font-size: 2em;
  font-family: 'Cabin Sketch', cursive;
}
li {
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.3em;
}

/*=======================================*/
/*Spacing between buttons*/
button {
  margin: 25px;
}

/*=======================================*/
/*Player Panels*/
#player1-panel {
  background-color: #FFB159;
  text-align:center;
  color:white;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Cabin Sketch', cursive;
}
#player2-panel {
  background-color: #1A87B2;
  text-align:center;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Cabin Sketch', cursive;
}

/*=======================================*/
/*Progress bar color*/
.progress-bar.progress-bar-striped.progress-bar-team1 {
  background-color: #1A87B2;
}
.progress-bar.progress-bar-striped.progress-bar-team2 {
  background-color: #FFB159;
}

/*=======================================*/
/*Timer and Phrase text and color*/
h2#timer-text {
  font-size: 100px;
  text-align:center;
  color: #A58D72;
  font-family: 'Cabin Sketch', cursive;
}
div#phrase-text {
  font-size: 100px;
  text-align:center;
  color: #A58D72;
  font-family: 'Cabin Sketch', cursive;
}

/*=======================================*/
/*Color switch on turn*/
.panel-heading.team1 {
  background-color: #FFB159;
}
.panel-heading.team1 {
  background-color: #1A87B2;
}

/*=======================================*/
/*custom button size and color*/
button {
  background-color: #A58D72;
  border: #A58D72;
  color: #fff;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 40px;
    font-size: 32px;
    line-height: 1.333333;
    border-radius: 6px;
}

/*=======================================*/
/*All the colors*/
.orangesicle {
  color: #FFB159;
}
.heading-tan {
  color: #A58D72;
}
.lighter-tan {
  color: #FFD8AD;
}
.aqua {
  color: #1A87B2;
}
.sky-blue {
  color: #59CFFF;
}



/*
COLOR SCHEME
A58D72 = Heading Tan
FFD8AD = Lighter Tan
FFB159 = Orangecicle
1A87B2 = Aqua
59CFFF = Sky Blue
*/
/*ul {
  display: none;
  text-align: left;

}
body {
  text-align: center;
}
*/
/*=======================================*/
/*Needed?*/
img {
  margin: 5px;
}

.social-icons {
  text-indent: 150px;
  text-align: left;
}
