
@font-face {
  font-family: scribble-box;
  src: url('../fonts/scribble-box.ttf'); }

.title-font {
    font-family: 'Cabin Sketch', cursive;
    transform: rotate(-7deg);
    font-size: 3.5em;
    color: #A58D72;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
@media (min-width: 500px){
  .title-font {
    font-family: scribble-box, sans-serif;
    transform: rotate(-7deg);
    font-size: 8em;
    text-align: center;
    color: #A58D72;
    padding-top: 50px;
    padding-bottom: 50px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  .title-font::after {
      background-color: #1A87B2;
      content: '';
      height: 3px;
      left: 0;
      margin-top: 46px;
      position: absolute;
      width: 100%;
      z-index: -1;
  }
}
#white-background {
  background-color: #fff;
}

.container {
  text-align: center;
}
ul {
    list-style-position: inside;
}

/*
color scheme
A58D72 = Heading Tan
FFD8AD = Lighter Tan
FFB159 = Orangecicle
1A87B2 = Aqua
59CFFF = Sky Blue*/
